version: '3'

networks:
  backend:
    driver: bridge

services:
  web:
    container_name: import-apache-php
    build:
      context: ./
    volumes:
      - ../app/:/var/www/html/
    working_dir: /var/www/html/
    ports:
      - "${APP_PORT}:80"
    networks:
      - backend
  mysql:
    container_name: import-mysql
    image: mysql:5.7
    command: --max_allowed_packet=32505856
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - /data/mysql:/var/lib/mysql
    ports:
      - "${MYSQL_PORT}:3306"
    networks:
      - backend
    restart: always
  composer:
    container_name: import-app-composer
    image: composer
    volumes:
      - ../app/:/var/www/html/
    working_dir: /var/www/html/
    command: composer install --ignore-platform-reqs
    networks:
      - backend